.gdbar img {
  width: 125px !important;
  height: 50px !important;
  margin: 6px 6px;
}

.gdbar {
  width: 200pox !important;
  height: 70px !important;
}

slides > slide:not(.nobackground):before {
  width: 125px;
  height: 50px;
  background-size: 125px 50px;
}


slides > slide.title-slide hgroup h1 {
  font-weight: bold;
  font-size: 36pt;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

slides > slide.title-slide p {
  font-size: 24pt;
}